* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  background: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #ffff;
  padding: 0 50px;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navigation li {
  list-style: none;
}

.logo {
  width: 100px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hero-section {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  font-size: 24px;
  font-weight: 600;

  line-height: 1.4;
}

.hero-details {
  background-color: #fafafa;
  padding-left: 50px;
}

.hero-title {
  margin-bottom: 9px;
  line-height: 1.2;
}
.hero-subtitle {
  margin-bottom: 28px;
}

.membership-btn {
  background-color: #2a62ff;
  color: #fff;
  margin-bottom: 9px;
  padding: 9px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.illustration-img {
  width: 90%;
  background-color: #fafafa;
}

.featured-section {
  padding: 3.6rem;
  background-color: #fff;
  color: #1a1d24;
}

.featured-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.featured-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.benefit-section {
  padding: 3rem 0 6rem 0;
}
.benefit-title {
  line-height: 1.4;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  margin-bottom: 30px;
}

.benefit-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #182d4c1a;
  max-width: 400px;
  padding: 48px 16px;
}

.benefit-card-icon {
  width: 48px;
  margin-bottom: 15px;
}

.benefit-card-title {
  margin-bottom: 12px;
}
.benefit-card-subtitle {
  color: #676767;
  margin-bottom: 10px;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3469;
  min-height: 80px;
  padding: 20px 40px;
  color: #888;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-socials a ion-icon {
  color: #888;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  cursor: pointer;
  color: #fff;
}
