.header {
  background-color: #ffff;
  padding: 0 50px;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navigation li {
  list-style: none;
}

.logo {
  width: 100px;
}
